<div class="wsmobileheader clearfix ">
    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
    <span class="smllogo"><img src="../assets/images/logo.jpg" width="90" alt="" /></span>

</div>
<!-- Mobile Header -->

<div class="wsmainfull clearfix">
    <div class="wsmainwp clearfix">

        <div class="desktoplogo">
            <a href="#"><img src="../assets/images/logo.jpg" alt=""></a>
        </div>
       <!-- <div class="wssearch wssearchdesktop clearfix">
            <a href="#">donate</a>
        </div>-->
        <!--Main Menu HTML Code-->
        <nav class="wsmenu clearfix">
            <ul class="wsmenu-list">
                <li><a routerLink=""> Home </a></li>
               
                <li><a href="JavaScript:Void(0)">About us  <span class="ti-angle-down"></span></a>
                    <ul class="sub-menu">
                        <li><a routerLink="about-us/vision"> Vision  </a></li>
                        <li><a href="javascript:void(0)"> Mission   </a></li>
                        <li><a href="javascript:void(0)"> Our Approach   </a></li>
                        <li><a href="javascript:void(0)"> Our Philosphy    </a></li>
                        <li><a href="javascript:void(0)">  Governing Bodies  </a></li>
                    </ul>
                </li>
                <li><a href="JavaScript:Void(0)">What We Do     <span class="ti-angle-down"></span></a>
                    <ul class="sub-menu">
                        <li><a href="our-programs.php">  Our Programms  </a></li>  
                    </ul>
                </li>
                <li><a href="JavaScript:Void(0)">Get Involved   <span class="ti-angle-down"></span></a>
                    <ul class="sub-menu">
                        <li><a href="csr.php">CSR </a></li>  
                        <li><a href="volunteer.php">Volunteer </a></li>  
                        <li><a href="Internship.php">Internship </a></li> 
                    </ul>
                </li>
                
                <li><a href="JavaScript:Void(0)">Contribute Us     <span class="ti-angle-down"></span></a>
                    <ul class="sub-menu">
                        <li><a href="donate.php">Donate </a></li>  
                        <li><a href="donation-kind.php">Donation In Kind </a></li>  
                         
                    </ul>
                </li>
                 
                <li><a routerLink="contact-us">Contact us</a></li>

            </ul>
        </nav>

        <!--Menu HTML Code-->
    </div>
</div>