<footer>
  
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h6> {{appname}}   </h6>
                <p>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<a href="#" class="support-a"> Learn More <i class="ti-arrow-right"></i></a></p>
                 <a [href]="socialMedia.facebook" target="_blank"><i class="fa fa-facebook circle" aria-hidden="true"></i></a>
                 
                 <!-- <a href="#"><img src="images/image004.jpg"> </a>
                 <a href="#"><img src="images/image002_1.jpg"> </a> -->
                 
            </div>

            

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <h6>Our Links</h6>
                <ul class="footer-ul">
                    <li><a href="home.php">  House       </a></li>
                    <li><a href="JavaScript:Void(0)">  About Us    </a></li>
                    <li><a href="JavaScript:Void(0)">  Our Programms        </a></li>
                    <li><a href="JavaScript:Void(0)">  Donate       </a></li>
                    <li><a href="JavaScript:Void(0)">  contact       </a></li>
                    

                </ul>

            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <h6> Contact us</h6>
               
        <p> <i class="fas fa-location-arrow ii"></i> {{address.address}}<br>
            {{address.district}}-{{address.state}}- {{address.pincode}}<br>
<br>
<i class="fas fa-phone-volume ii"></i> Mobile : +91 - {{address.phone}}<br/>
<i class="far fa-envelope ii"></i> {{address.emailId}}</p>
     
            </div> 
    </div> </div> 
<div class="footer-last">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><a href="">SSS</a> © {{currentYear}} | {{appname}}</p>
        </div>
    </div>
</div>
</div>

</footer>