

<div class="about-section1 padding-center">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="contact-border">
                    <h3>  Drop us message for any query</h3>
                    <div *ngIf="mailSent">
                        <div class="alert alert-success">{{sentMessage}}</div>
                    </div>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"> 
                 <div class="row">
                  
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <input type="text" class="form-control contact-input"   formControlName="name" placeholder="Name" >
                        <span class="error" *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)">
                            <p class="error" *ngIf="contactForm.controls['name'].errors?.['required']">Name is required</p>
                            <p class="error" *ngIf="contactForm.controls['name'].errors?.['minlength']">Name must be at least 2 characters long.</p>
                            <p class="error" *ngIf="contactForm.controls['name'].errors?.['maxlength']">Name should not  be more than 25 characters </p>
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <input type="text" class="form-control contact-input" formControlName="email"placeholder="Email Id" >
                        <span class="error" *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
                            <p class="error" *ngIf="contactForm.controls['email'].errors?.['required']">Please enter email</p>
                            <p class="error" *ngIf="contactForm.controls['email'].errors?.['email']">Please enter a valid email</p>
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <input type="text" class="form-control contact-input" formControlName="phone" placeholder="Phone No" >
                        <span class="error" *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)">
                            <p class="error" *ngIf="contactForm.controls['phone'].errors?.['required']">Please enter phone number</p>
                            <p class="error" *ngIf="contactForm.controls['phone'].errors?.['pattern']">Please enter a valid phone number </p>
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <input type="text" class="form-control contact-input" formControlName="subject" placeholder="Subject" >
                        <span class="error" *ngIf="contactForm.controls['subject'].invalid && (contactForm.controls['subject'].dirty || contactForm.controls['subject'].touched)">
                            <p class="error" *ngIf="contactForm.controls['subject'].errors?.['required']">Please enter subject</p>
                            
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <textarea cols="20" rows="10" class="form-control contact-input" formControlName="message" placeholder="Message" ></textarea>
                        <span class="error" *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
                            <p class="error" *ngIf="contactForm.controls['message'].errors?.['required']">Please enter message</p>
                            
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button type="submit" [disabled]="!contactForm.valid" class="form-contact-btn">Submit</button>
                    </div>
                     
                   </div>
                   </form>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                <h3>  Get in touch</h3>
               
                <ul class="contact-detail-ul">

                    <li>
                        <div>
                            <a [href]="address.map" target="_blank" class="ti-location-pin"></a>
                        </div>
                        <div>
                            <a href="" target="_top"> 	{{address.address}},
                                <br>
                                District:{{address.district}}
                                <br>{{address.state}}- {{address.pincode}}

     </a>
                        </div>
                    </li>

                    <li>
                        <div>
                            <span class="ti-email"></span>
                        </div>
                        <div>
                            <a href="#" target="_top">  			{{address.emailId}}

     </a>
                        </div>
                    </li>

                    <li>
                        <div>
                            <span class="ti-mobile"></span>
                        </div>
                        <div>
                            <a href="#" target="_top"> 			+91 {{address.phone}}

     </a>
                        </div>
                    </li>

                </ul>

            </div>

        </div>
    </div>
</div>