<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide [datamerge]="slide.id" class="item">
          <img [src]="slide.img" >
          
        </ng-template>
      </ng-container>
</owl-carousel-o>
<div class="home-section ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3><span>    Who We Are       </span></h3>
                <p>{{whoWeAreInfo}}</p>
                <h4>The steps we follow have been represented as under;</h4>
                <img class="imgs126" src="../assets/images/workimages111.jpg" >
            </div>
            

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngFor="let service of serviceTypes">
                <figure class="snip1543">
                    <img [src]='service.image' alt="work" />
                    <figcaption>
                        <h3> {{service.type}}  </h3>

                    </figcaption>
                    <a href="javascript:void(0)"></a>
                </figure>
            </div>
            
        </div>
    </div>
</div>


